.LBG {
    border-radius: 20px;
    background-color: rgb(23, 96, 233);
    width: 500px;
    height: 40px;
    line-height: 35px;
    box-shadow: 0 0 10px rgb(23, 96, 233);
    margin-left: 35%;
}
.Projetos{
    height: 200px;
    width: auto;
    background-color: yellow;
    border-radius: 20px;
    box-shadow: 5px 0 5px black;
    margin-left: 20px;
    margin-top: 20px;
}
.RedesSociais{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: Roboto;
    text-decoration: none;
    text-align: center;
}
.Titulos{
    font-family: Calibri;
    color: #ffffff;
}
#photo {
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    box-shadow: 5px 0 10px black;
}
 #fundo {
    box-shadow: 5px 0 0px black;
    border-radius: 50px 50px 0 0;
    width: auto;
    height: 950px;
    background-color: rgb(40, 41, 41);
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
}
#corpo{
    height: 1216px;
    background:linear-gradient(to bottom,rgb(56, 42, 255) , rgb(13, 14, 14))
}

/*.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}
.fa-whatsapp {
    margin-top: 16px;
}"Botão WhatsApp"*/